<div class="meeteese-error">
    <h3>Error</h3>
    <div>The command "{{command}}" returned an error:</div>
    <div><strong>{{code}}</strong>: {{message}}</div>
    <div>
        Params: {{{params}}}
    </div>
</div>
