<div class="meeteese-get_slots_list">
    <table>
        {{#result}}
        <tr>
            <td>{{StartWeekday}} {{StartDay}}-{{StartMonth}}-{{StartYear}}</td>
            <td>Time: {{StartHour}}:{{StartMinute}} - {{EndHour}}:{{EndMinute}}</td>
        </tr>
        {{/result}}
        {{^result}}
        <tr>
            <td>No free slots</td>
            <td></td>
        </tr>
        {{/result}}
    </table>
</div>
